<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div style="margin: 50px auto auto;
                    border: 1px solid #ddd;
                    padding: 30px 90px 50px;
                    border-radius: 5px;
                    width: fit-content;">
            <h1>
                {{ appName }}
            </h1>

            <h2 style="margin-top: 30px">
                {{ title }}
            </h2>

            <p>
                {{ welcome|nl2br }}
            </p>

            <a href="{{ urlRegistrationConfirmation }}" style="display: inline-block; 
                                                                background-color: #467adc; 
                                                                margin: 20px; 
                                                                with: 100px; 
                                                                padding: 15px 30px; 
                                                                border-radius: 5px; 
                                                                color: #fff; 
                                                                text-decoration: none">
                {{ urlRegistrationConfirmationText }}
            </a>

            <p>
                {{ farewell }}
            </p>
        </div>
    </body>
</html>
